.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal-box {
    background: white;
    padding: 25px;
    border-radius: 16px;
    width: 90%;
    max-width: 450px;
    animation: zoomIn 0.25s ease;
}

@keyframes zoomIn {
    from { transform: scale(0.8); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}
